html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

body {
  background: #727272 !important;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.opac-class {
    background-color: rgba(43, 43, 43, 0.5) !important;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

.rowmod {
  margin-top: 30px;
}

.center {
  display: flex;
  justify-content: center;
  margin-bottom: 13px;
  }

.paragraph-own {
  font-size: 20px !important;
}